html, body {
  height: 100%;
  width: 100%;
}
/* :root {

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */
#root {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
/*mui tabs*/
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
  color: #efeee9 !important;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected:hover{
  color: rgb(19,43,55) !important;
}
.css-10ltm04-MuiToolbar-root {
  justify-content:space-between
}
.css-11b3ww9-MuiPaper-root-MuiAppBar-root{
  margin-bottom: 0px;
}
._homeContainer_1d10d_22 {
  margin-top: 0;
}

/* home*/
.game-rules-container {
  max-width: 80vw;
  max-height: 80vh;
}
.game-rules {
  text-align: justify;
}
._homeContainer_1nucq_17 {
  background-image: url('./public/img/1642713765_46-adonius-club-p-kamennaya-stena-fon-51.jpg');
  background-size: cover;
  background-repeat: repeat-x;
  margin-top: 0 !important;
  height: 100% ;
  position: fixed;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  color: #1a1a1a;
  /*place-items: center;*/
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /*background-color: #1a1a1a;*/
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
